/* Fonts */
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v16/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 100;
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url(https://fonts.gstatic.com/s/catamaran/v2/AsJXcel0VOprDS7k9OVAc6E8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 100;
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url(https://fonts.gstatic.com/s/catamaran/v2/AsJXcel0VOprDS7k9OVAc4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(https://fonts.gstatic.com/s/catamaran/v2/hFc-HKSsGk6M-psujei1MIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(https://fonts.gstatic.com/s/catamaran/v2/hFc-HKSsGk6M-psujei1MBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: local('Catamaran Light'), local('Catamaran-Light'), url(https://fonts.gstatic.com/s/catamaran/v2/Aaag4ccR7Oh_4eai-jbrYIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: local('Catamaran Light'), local('Catamaran-Light'), url(https://fonts.gstatic.com/s/catamaran/v2/Aaag4ccR7Oh_4eai-jbrYBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v2/t_-OVtQ5f4U5rdYNmrStg4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v2/iVYgK2bOLvZcSxr0ITOecpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v2/PpgVtUHUdnBZYNpnzGbSc4joYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v2/PpgVtUHUdnBZYNpnzGbScxampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(https://fonts.gstatic.com/s/catamaran/v2/6VjB_uSfn3DZ93IQv58CmIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(https://fonts.gstatic.com/s/catamaran/v2/6VjB_uSfn3DZ93IQv58CmBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 900;
  src: local('Catamaran Black'), local('Catamaran-Black'), url(https://fonts.gstatic.com/s/catamaran/v2/5ys9TqpQc9Q6gHqbSox6p4joYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 900;
  src: local('Catamaran Black'), local('Catamaran-Black'), url(https://fonts.gstatic.com/s/catamaran/v2/5ys9TqpQc9Q6gHqbSox6pxampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*==========================================================*/
/*==================== Universal section ===================*/
/*==========================================================*/
html {
  font-size: 16px;
}
body {
  font-family: "Catamaran";
}
main {
  width: 1178px;
  margin: auto;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  color: #4A4A4A;
}
h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #4A4A4A;
}
img {
  border-radius: 5px;
  max-width: 100%;
}
p {
  color: #777;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.65rem;
}
section {
  padding: 2rem 0;
  max-width: 100%;
  display: flex;
  margin: auto;
}
.light-background {
  background-color: #F3F5F5;
}
.flex-col-media {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}
.round-corners {
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  header .mobile {
    display: none;
  }
}

/*==========================================================*/
/*===================== Header section =====================*/
/*==========================================================*/
header {
  max-width: 100%;
  height: 4rem;
  display: flex;
  /*align-items: center;*/
  padding: 0 1.5rem;
}
header .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.logo img {
  height: 80%;
}
.logo h3 {
  color: #505050;
  font-weight: 900;
}
.logo span {
  color: #ddd;
  font-weight: 400;
}
header ul li {
  display: inline;
}
header ul li:not(:last-child) {
  margin-right: 1rem;
}
header a {
  text-decoration: none;
  color: #505050;
}


/*==========================================================*/
/*=================== Top banner section ===================*/
/*==========================================================*/
#banner {
  background-color: #D8D8D8;
  padding: 0;
}
#banner .flex-col-media {
  margin: 2rem 2.5rem 2rem 1.5rem;
}
.banner-img {
  max-width: 60%;
  height: auto;
  margin-right: 2.5rem;
}
.banner-img img {
  max-width: 100%;
  height: auto;
}
.headline {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 1.5rem 2rem 0;
}
.button a {
  display: block;
  background-color: #4A4A4A;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #FDFDFD;
}
.button a:hover {
  background-color: #000;
}


/*==========================================================*/
/*====================== Info section ======================*/
/*==========================================================*/
#info {
  padding: 0;
}
#info .flex-col-media {
  padding: 2rem 1.5rem;
  border-right: 2px solid #DDD;
}
#info h1 {
  margin-top: 2rem;
}
/*#info p {
  color: #777;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.65rem;
}*/
#info #credit {
  color: #333;
  font-family: "Roboto";
  font-size: 0.99rem;
  margin-bottom: 0;
  margin-top: 1rem;
}
.info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 423px;
}
.info-item {
  display: flex;
  align-items: center;
  border-bottom: 2px double #DDD;
}
.info-item-img {
  max-width: 35%;
  height: auto;
  padding: 1rem;
}
.info-item-img img {
  width: 100%;
  height: auto;
  border: 2px groove #DDD;
}
.info-item-text {
  max-width: 55%;
  height: auto;
}
.info-item:first-child .info-item-img {
  padding-top: 2rem;
}
.info-item:last-child {
  background-color: #DDD;
}
.info-item:last-child img {
  border: none;
}
.info-item-text h4 {
  margin-bottom: 0.5rem;
}
.info-item-text p {
  margin-bottom: 0.5px;
}
.info-item-text a {
  color: #5477D8;
  text-decoration: none;
  font-size: 1.5rem;
}
.info-item-text a:hover {
  color: #4663B3;
}


/*==========================================================*/
/*==================== Courses section =====================*/
/*==========================================================*/
#courses {
  background-color: #EAEBEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#courses h4 {
  margin-bottom: 0.5rem;
}
#courses p {
  color: #888;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.course-items-gallery {
  display: flex;
  flex-direction: column;
}
.course-items-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.course-items-row:last-child {
  margin-bottom: 0;
}
.course-item {
  max-width: 30%;
  background-color: #FFF;
  margin-right: 2rem;
  border-radius: 5px;
}
.course-item:last-child {
  margin-right: 0;
}
.course-img {
  width: 100%;
  margin-bottom: 1rem;
}
.course-img img {
  width: 100%;
  height: 13.75rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.course-desc {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.section-heading {
  margin-bottom: 2rem auto;
}


/*==========================================================*/
/*===================== Thesis section =====================*/
/*==========================================================*/
#exhibit {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px double #DDD;
}
#exhibit video {
  height: auto;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 1.5rem;
}
#exhibit .flex-col-media {
  margin-right: 1rem;
  align-items: flex-start;
}
.content {
  max-width: 100%;
  height: auto;
  margin: 0 1.5rem;
  display: flex;
}
#exhibit .info-item:first-child {
  background-color: #DDD;
  border: none;
}
#exhibit .info-item:first-child .info-item-img {
  padding-top: 1rem;
}
#exhibit .info-item:first-child img {
  border: none;
}
#exhibit .info-item:last-child {
  background-color: #f3f5f5;
  border: none;
}


/*==========================================================*/
/*===================== Footer section =====================*/
/*==========================================================*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  color: #777;
}
footer ul li {
  display: inline;
}
footer ul li:first-child {
  margin-right: 1rem;
}
footer a {
  text-decoration: none;
  color: #777;
}


/*==========================================================*/
/*===================== Mobile Sytles ======================*/
/*==========================================================*/
@media screen and (max-width: 768px) {
  main {
    width: 700px;
    margin: auto;
  }
  header .desktop {
    display: none;
  }
  header {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  header .mobile {
    width: 768px;
  }
  .mobile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
